@model IEnumerable<ProiectMoldovanAlexWebAppMVC.Models.Engine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorsePower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cylinders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Displacement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cylinders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Displacement)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EngineID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EngineID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EngineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
